table#calendar {
	border-collapse: separate;
	border-spacing: 5px;
	font-size: 32px;
}

table#calendar th {
	width: 100px;
	height: 80px;
	padding: 5px;
	text-align: center;
}

table#calendar td[colspan] {
	width: auto;
	height: auto;
}

table#calendar td {
	width: 100px;
	height: 80px;
	border: 1px solid;
	background-color: #B7E195;
	padding: 5px;
	text-align: center;
}

table#calendar td p {
	font-size: 16px;
	margin: 0;
}

table#calendar td.invalid {
	background-color: #C8CACC;
}

table#calendar td.weekend {
	background-color: #F1FF00;
}

table#calendar td.holiday {
	background-color: #E77406;
}

